@import 'tailwindcss';
@plugin "daisyui" {
  themes: all;
}

@plugin "daisyui/theme" {
  name: 'hill-light';
  default: true;
  prefersdark: false;
  color-scheme: 'light';
  --color-base-100: oklch(98% 0.003 247.858);
  --color-base-200: oklch(96% 0.003 264.542);
  --color-base-300: oklch(87% 0 0);
  --color-base-content: oklch(27% 0.033 256.848);
  --color-primary: oklch(69% 0.17 162.48);
  --color-primary-content: oklch(39% 0.095 152.535);
  --color-secondary: oklch(45% 0.085 224.283);
  --color-secondary-content: oklch(94% 0.028 342.258);
  --color-accent: oklch(78% 0.154 211.53);
  --color-accent-content: oklch(38% 0.063 188.416);
  --color-neutral: oklch(44% 0.03 256.802);
  --color-neutral-content: oklch(92% 0.004 286.32);
  --color-info: oklch(80% 0.105 251.813);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(79% 0.209 151.711);
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: oklch(87% 0.169 91.605);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(71% 0.202 349.761);
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 0.25rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.28125rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

@plugin "daisyui/theme" {
  name: 'hill-dark';
  default: false;
  prefersdark: true;
  color-scheme: 'dark';
  --color-base-100: oklch(37% 0.013 285.805);
  --color-base-200: oklch(27% 0.006 286.033);
  --color-base-300: oklch(70% 0 0);
  --color-base-content: oklch(92% 0.006 264.531);
  --color-primary: oklch(76% 0.177 163.223);
  --color-primary-content: oklch(39% 0.095 152.535);
  --color-secondary: oklch(45% 0.085 224.283);
  --color-secondary-content: oklch(94% 0.028 342.258);
  --color-accent: oklch(78% 0.154 211.53);
  --color-accent-content: oklch(38% 0.063 188.416);
  --color-neutral: oklch(44% 0.03 256.802);
  --color-neutral-content: oklch(92% 0.004 286.32);
  --color-info: oklch(80% 0.105 251.813);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(79% 0.209 151.711);
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: oklch(87% 0.169 91.605);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(71% 0.202 349.761);
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 0.25rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.28125rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}
